.wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.profile-item {
    width: 20%;
    border: 2px solid black;
    text-align: center;
    margin-bottom: 50px;
    overflow: hidden;
}

.profile-item img {
    width: 100%;
    transition: .5s;
}

.profile-item:hover img {
    transform: scale(1.4);
}